* {
    margin: 0;
    font-family: 'ProggyCleanTT', sans-serif;
    list-style-type: none;
}

html {
    background-color:  #FFDFD3;
}

.header {
    background-color: #957DAD;
    text-align: left;
    height: 50px;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    position: absolute;
    font-size: 50px;
    font-weight: bold;
    color: #fefefe;
    left: 20px;
    top: 15px;

}

.navbar {
    display:flex;
}

nav {
    list-style-type: none;
    display:flex;
}
.navbar ul{
    display:flex;
    /* padding-left: 200px; */
    font-size: 50px;
    color: #fefefe; 
}

a {
    text-decoration: none;
    color: #fefefe;
    cursor: pointer;
}

.navbar ul li a {
    display: block;
    color: #fefefe;
    font-size: 30px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
    list-style-type: none;
}

.navbar ul li a:hover {
    background: #280050;
}

.pages {
    display: flex;
    position: absolute;
    right: 800px;
}